html {
  font-size: 1.25rem;
}

.is-hidden {
  display: none !important;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#game-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  overflow: hidden;
}

#button-container {
  padding: 0.25rem;
  flex: 1;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#request-full {
  margin-right: 0.5rem;
}

#board-container {
  flex: 16;
  width: 100%;
}

#keyboard-container {
  flex: 3;
  width: 100%;
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.is-invisible {
  visibility: hidden;
}

#message-card-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsla(0, 0%, 0%, 0.4);
}

#message-card {
  background: white;
  padding: 1rem 2rem;
  border-radius: 4px;
  box-shadow: 0 1px 3px #888;
}

#message-card h1 {
  margin-top: 0;
  margin-bottom: 1rem;
}

#message-card p {
  margin-top: 0;
}

.success-message {
  border: 3px solid #0F0 !important;
}

.error-message {
  border: 3px solid #F00 !important;
}

#srordle-title {
  margin: 0;
}